.header {
  background-image: url(../images/bg-header-mobile.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: var(--header-height);
  background-color: var(--desaturated-dark-cyan);

  @media screen and (min-width: $bp-medium) {
    background-image: url(../images/bg-header-desktop.svg);
  }
}
